
/****Estrutura do header******/
.topo{
    background-color: #61666a;
    height: 33px;
}

#fale{
    margin-top: -12px;
    margin-left: 9px;
    font-size: 12px
}

#frete{
    position: absolute;
    margin-top: -12px;
    margin-left: -319px;
    font-size: 12px;
}

#perfil{
    position: absolute;
    margin-top: -12px;
    margin-left: -261px;
    font-size: 12px;
}

#carrinho{
    position: absolute;
    margin-top: -12px;
    margin-left: -180px;
    font-size: 12px;
}

span.badge.new {
    border-radius: 31px;
    margin-top: 18px;
}

i.right {
    margin-left: 3px;
}


nav a{
    color:white;
}

nav ul a {
    color: black;
}

.grey.lighten-2 {
    background-color: #e0e0e029 !important;
}

::-webkit-input-placeholder {
    color: black;
 }
 
 :-moz-placeholder {
    color: black;    
 }
 
 ::-moz-placeholder {
    color: black;      
 }
 
 :-ms-input-placeholder {  
    color: black;      
 }

.white{
    margin-top: -31px;
}


/**********************ICONES*********/

#iconMobile{
    color: black;
} 

.grayIcon{
    color: #61666a21;
}

/*************************FOTOS************************/
#foto{
    height: 194px;
}

#instagram{
    height: 200px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

/******** Fontes ********/

h3{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

h6{
    font-family: 'Montserrat', sans-serif;
}

#p-banner{
    color: gray;
    font-size: 16px;
    font-family: sans-serif;
}

p{
    color: gray;
    font-size: 12px;
}

/******************Hover nas imagens ***********/

#img-box img.img-hover {
    display: none;
  }
  #img-box:hover img.img-default {
    display: none;
  }
  #img-box:hover img.img-hover {
    display: inherit;
  }


  /*****************Media Queries***************/

  @media only screen and (max-width: 475px){
    #mobile {
        margin-top: -23px;
    }
    nav .nav-wrapper {
        margin-top: 10px;
    }
    #search{
        font-size: 12px;
    }

}

@media only screen and (max-width: 1024px){
    #mobile {
        margin-top: -34px;
    }

    nav{
        height: 75px;
    }
    
}





